body{
    width:1200px;
    margin: auto;
}

header{
    width: 100%;
    height: 175px;
    background-image: url("/Users/matteoperitore/boolean/html-css-booleaner/img/pattern.png");
    background-color: lightblue;
}

.title-logo{
    position: absolute;
    top: 60px;
    color: white;
    font-weight: bold;
}

.small-title{
    position: relative;
    left: 40px;
    top: 25px;
    font-size: 20px;
}

.title{
    font-size: 60px;
}


 
h1{
     margin-bottom: 0;
     font-size: 50px;
}

.sign{
     color: grey;
     font-size: 20px;
}


.sign-two{
    color:lightskyblue;
}

.date{
    font-size: 15px;
    margin-bottom: 10px;
}

.foto{
    width: 550px;
    height: 400px;
    margin-bottom: 0px;
}

.foto_sign{
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-yellow{
    background-color: yellow;
}

ul{
    padding:20px;
}


table{
    width:100%;
    border-collapse: collapse;
}

thead{
    text-align: left;
    background-color: lightskyblue;
    color: white;
}

.last_colomn{
    width:50%;
}

tbody{
    background-color: lightblue;
}

.mid-row{
    background-color: white;
}

.last-p{
    margin: 20px 0;
}